@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.mainSidebar
{
	position: sticky;
	top: 0;
}
@media (max-width: 766px)
{
	.mainSidebar
	{
	position: relative;		
	}
}
.conversionOptimization, .engine_list, .connect_us, .articles_list,.left_menu
{
	display:none;
}
#free-webinar-badge
{
	  height: 47px;
	width: 250px;
}
#webinar-headline {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 26px;
text-align: left;
letter-spacing: 0.085em;
color: #000000;
padding: 0 15px 10px 15px;
line-height: 1.6;
	
	/*background-image: url("https://www.invespcro.com/blog/images/blog-images/Group-252-1.png");
	display: block;
	background-position: left;
	background-repeat: no-repeat;*/
	
}
#webinar-body-text {
  font-family: Roboto;
font-style: normal;
	line-height: 1.9;
	font-weight: 400;
	text-align: left;
font-weight: normal;
font-size: 16px;
color: #393939;
	padding: 0 15px 10px 15px;
}
#webinar-date {
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
	line-height: 1.6;
/* or 27px */
text-align: center;
letter-spacing: 0.135em;
color: #393939;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 4px solid #F3B226;
}
#speaker-image
{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
	line-height: 1.6;
/* or 27px */
text-align: left;
letter-spacing: 0.135em;
color: #393939;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
#khalid-img {
	width:100%;
	background-position: left;
}
#webinar-cta {
background: #228BC5;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 20px;
padding-left:45px;
padding-right:45px;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
text-decoration: none;
color: #FFFFFF;
width:100%;
box-sizing: border-box;
}
.textwidget.custom-html-widget{
	text-align: center;
}
.widget_text.newsletter {
	padding-bottom:10px;
	padding-top:25px;
	
}
.widget_text.newsletter .newsletter_heading {
	float: unset;
	line-height: 1.3;
}
.register-button {
	cursor: pointer;
	background-color: #0f7aff;
box-sizing: border-box;
margin: 0;
font-family: Roboto;
overflow: visible;
text-transform: none;
text-align: center;
vertical-align: middle;
user-select: none;
padding: .375rem .75rem;
line-height: 1.5;
border-radius: .25rem;
display: inline-flex;
align-items: center;
justify-content: center;
font-weight: 500;
color: white;
border: none;
transform: translateZ(0) scale(1);
transform-origin: center;
transition: all .3s cubic-bezier(.4,0,.2,1);
box-shadow: 0 1px 3px #b9d8ff,0 3px 8px rgba(185,216,255,.4);
width: 100%;
margin-left: 0;
	font-size: 16px;
}
